body {
  font-family: "Montserrat", sans-serif;
}
/* Title */
#title {
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
}
/* NavBar  */
.navbar {
  padding-bottom: 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;

}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.5rem;
  margin: 0 20px;
  color: #fff;
}

a:hover {
  color: thistle;
}

/* Title */

.image {
  padding: 3%;
  transform: rotate(25deg);
  width: 60%;
 
 
  
}

/* Features */
#features{
    padding: 10% 15%;
    background-color: #fff;
  
    
}
.icon{
    width: 100%;
    color: #ef8172;
    text-align: center;
}
h3{
    padding-top: 3% ;
    text-align: center;
    font-family: "Montserrat";
    color:#8f8f8f;
    font-weight: bold;
    font-size: 1.5rem;
}
h2, em{
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
p{
    text-align: center;
    font-family: "Montserrat";
    color:#8f8f8f;
    padding: 0 3%;
}

i:hover{
    color: #ff4c68 ;
}

/* hamburger menu  */
.menu{
    float: right;
    color: #fff;
}
.menu:hover{
    color:black;
}

/* Testimonials  */

#testimonials{
    min-height: 400px;
    padding: 6% 15%;
    background-color: #ef8172;
}
.testimonials-img{
    width:10%;
    border-radius: 50%;
    margin: 20px;  

}
em{
    text-align: center;
}

/* Press */
#press{
  text-align: center;
  background-color: #ef8172;
  padding: 2% 5%;
}
.logo{
  width: 15%;
  margin: 20px 15px 50px 15px;
}
.cardh2{
  color:black;
}

/* Pricing */

#pricing{
  text-align: center;
}
.cardPad{
  padding:5% 3%;
}

/* CTA */

#cta{
  min-height: 350px;
  padding: 5% 5% 5% 5%;
  background-color: #ff4c68;
  text-align: center;
}
#cta h3{
  line-height: 1.5;
  padding: 3% 5% 2% 5%;
  font-weight: bolder;
  font-family: "montserrat";
  font-size: 3.5rem;
  color:#fff;
  text-align: center;
}
/* Footer */
#footer{
  padding:7% 5%;
  background-color: #fff;
  text-align: center;

}

.brand {
  margin: 6px;
  color:coral;
}

.copyRight{
  padding: 2%;
  font-size: 1.5rem;
}